*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
header{
    width: 100%;
    height: 500px;
}
.inicio{
    background-color: rgba(58, 58, 59, 0.342);
    background-image: url(../imagenes/img-header.png);   
    background-repeat: no-repeat; 
    background-size: cover;    
}
.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.barra img{
    width: 80px;
    height: 80px;
    margin-left: 1.5rem;
}
.bars{
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    display: none;
}
.navegacion a{
    color: aliceblue;
    text-decoration: none;
    margin-right: 2rem;
    font-family: 'Merriweather', serif;
}
.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*cambios al styles*/
.texto-head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
}
.texto-head div{
    display: flex;
    gap: 30px;
}
h1{
    text-align: center;
    font-family: 'Satisfy', cursive;
    color: aliceblue;
    font-size: 4rem;
}
.redondo{
    background-color: blueviolet;   
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-family: 'Merriweather', serif;
    cursor: pointer;
  }
.trans{
    background-color: rgba(255, 255, 255, 0.151);    
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-family: 'Merriweather', serif;
    cursor: pointer;
}
.cajas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'Merriweather', serif;
}
.analisis{    
    background-image: linear-gradient(
        rgba(250, 106, 250, 0.5),
        rgba(170, 9, 175, 0.5)
      ),
    url(../imagenes/analisis.jpg);    
    background-repeat: no-repeat; 
    background-size: cover;  
}
.stra{
    background-image: linear-gradient(
        rgba(93, 103, 243, 0.3), 
        rgba(77, 167, 241, 0.3)
      ),
    url(../imagenes/strategia.jpg);    
    background-repeat: no-repeat; 
    background-size: cover; 
}
.port{
    background-image: linear-gradient(
        rgba(17, 16, 16, 0.281), 
        rgba(76, 76, 77, 0.3)
      ),
    url(../imagenes/porta.jpg);    
    background-repeat: no-repeat; 
    background-size: cover;
    color: aliceblue;
}
.dex{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.dex i{
    font-size: 2.5rem;
}
/*Blog*/
.blog{
    width: 100%;
    background-color: rgba(241, 226, 226, 0.397);
}
h3{
    font-family: 'Satisfy', cursive;
    text-align: center;
    padding: 13px;
    font-size: 2rem;
}
.cards-blog{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-top: 2.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}
.b-card{
    width: 100%;
    height: 100%;
    background-color: rgba(167, 86, 243, 0.164);
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
    align-items: center;
    text-align: center; 
    padding: 15px;   
}
.util-info{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
.btn-rx{
    text-decoration: none;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
    color: #0e0d0d;
    background-color: #ffffff;
    border-radius: 6px;   
    border: 1px solid #2b2b2b;     
}
.btn-rx:hover{
    color: #1883ba;
    background-color: #880feb5d;
}
/*Adicionales*/
.adicionales{    
    width:100%;
    height: 100%;
}
.adicionales h3{
    text-align: center;
    padding-bottom: 10px;
}
.adic{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;   
    font-family: 'Merriweather', serif;
}
.adic i{
    font-size: 3rem;
}
.adic2{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;   
    font-family: 'Merriweather', serif; 
}
.adic2 i{
    font-size: 3rem;
}
.hijo{    
    height: 250px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.hijo2{
    height: 250px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.subs{
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: rgba(132, 0, 255, 0.425);
}
.subs p{
    font-family: 'Merriweather', serif;
}
.redondeadonorelieve {
    border-radius: 15px;
    border: 1px solid rgb(17, 1, 1);
    width: 230px;
    height: 37px;
  }
.prefoo{
    width: 100%;
    display: flex;  
    justify-content: center;  
}
/*Footer*/
.logo-pie img{
    width: 80px;
    height: 80px;
    margin-left: 1.5rem;
}
footer{
    width: 100%;
    height: 100%;
    background-color: rgb(2, 0, 0);
    color: aliceblue;
}
.contenedor-pie{
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Merriweather', serif;
}
li{
    list-style: none;
    font-family: 'Merriweather', serif;
}
.redes{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding-top: 0.8rem;
}
.contact{
    padding-top: 0.8rem;
}
.enlac{
    padding-top: 0.8rem;
}
h4{
    text-align: left;
    padding-top: 1rem;
    font-size: 0.8rem;
}
/*Media Querys*/
@media (min-width:240px) and (max-width:880px){
    .derecha{
        display: none;
    }
    h1{
        font-size: 2rem;
        text-align: center;
    }
    .inicio{
        background-color: rgba(58, 58, 59, 0.342);
        background-image: url(../imagenes/img-header.png);   
        background-repeat: no-repeat; 
        background-size: cover;    
    }
    .texto-head{
       flex-direction: column;       
    }
    .bars{
        width: 80px;
        height: 80px;
        padding-top: 1.5rem;
        margin-right: 5px;
        font-size: 2rem;
        display: block;
    }
    .cajas{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .cards-blog{
        flex-direction: column;
        padding-top: 0.5rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }    
    .adic{
        flex-direction: column;
    }
    .adic2{
        flex-direction: column;
    }
    .logo-pie{
        display: none;
    }
    .contenedor-pie{
        flex-direction: flex;        
    }
}